footer {
  width: 100%;
  padding: 2rem 0;
  color: var(--color-white);
  background-color: var(--color-main-font);
  text-align: center;
}

footer h3 {
  font-size: 2.5rem;
  color: var(--color-red);
  text-transform: uppercase;
}

.footer_logo,
.footer_nav {
  font-size: 1.2rem;
}

.footer_nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 1rem auto;
  color: var(--color-white);
}

.footer_nav li,
.footer_social-links li {
  list-style: none;
}

.footer_nav li  a {
  color: var(--color-white);
}

.footer_copyright {
  font-size: 0.8rem;
}

.footer_social-links {
  display: flex;
  width: 10rem;
  justify-content: space-between;
  margin: 2rem auto 0;
}

.footer_social-links a {
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--color-white);
}

.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-basketball:before {
  content: "\e902";
}

.icon-twitter:before,
.icon-facebook:before,
.icon-basketball:before {
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 6rem 0;
  }
  
  .footer_logo,
  .footer_nav {
    font-size: 2rem;
  }

  footer h3 {
    font-size: 5rem;
  }

  .footer_nav {
    width: 60%;
    margin: 2rem auto 4rem;
  }

  .footer_copyright {
    font-family: 'titillium_webregular';
    font-size: 1.6rem;
  }

  .footer_social-links {
    width: 28rem;
    margin: 4rem auto 0;
  }

  .icon-twitter:before,
  .icon-facebook:before,
  .icon-basketball:before {
  font-size: 4rem;
  }
}

@media screen and (min-width: 1580px) {
  .footer_nav {
    width: 30%;
    margin: 2rem auto 4rem;
  }
}